<template name="adminPayouts">
  {{> navbar}}
  <div class="container-fluid">
    {{> adminHeader}}
    {{> adminNav}}
    <br>
    <div class="row">
      <div class="col-md-8">
        {{> adminPayoutDatatable }}
      </div>
      <div class="col-md-4">
        {{> adminPayoutStats}}
      </div>
    </div>
  </div>
</template>

<template name="adminPayoutDatatable">
  <div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title"><i class=
        "fa fa-shopping-cart"></i> Payout History</h3>
    </div>
    <table id="datatable" class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Item</th>
          <th>Type</th>
          <th>Points</th>
          <th>Cost</th>
          <th>Status</th>
          <th>Filled By</th>
        </tr>
      </thead>
      <tbody>
        {{#each payouts}}
          <tr class="{{#if eq status 'Pending'}}warning{{else}}success{{/if}}">
            <td>{{formatDate modified}}</td>
            <td>{{user_name}}</td>
            <td>{{reward_name}}</td>
            <td>{{reward_type}}</td>
            <td>{{point_cost}}</td>
            <td>{{isk_cost}} ISK</td>
            <td>{{status}}</td>
            <td>{{filled_by}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
</div>
</template>

<template name="adminPayoutStats">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Corporation Stats</h3>
    </div>
    <div class="panel-body">
        <table class="table table-condensed">
          <tr>
            <td class="text-left"><h2>Total Fleets Submitted:</h2></td>
            <td class="text-left"><h2><span class="badge points">{{total_fleets}}</span></h2></td>
          </tr>
          <tr>
            <td class="text-left"><h2>Total Fleets Approved:</h2></td>
            <td class="text-left"><h2><span class="badge points">{{total_fleets_approved}}</span></h2></td>
          </tr>
          <tr>
            <td class="text-left"><h2>Total Points Earned:</h2></td>
            <td class="text-left"><h2><span class="badge points">{{total_points}}</span></h2></td>
          </tr>
          <tr>
            <td class="text-left"><h2>Total Points Redeemed:</h2></td>
            <td class="text-left"><h2><span class="badge points">{{total_points_redeemed}}</span></h2></td>
          </tr>
          <tr>
            <td class="text-left"><h2>Total ISK Earned:</h2></td>
            <td class="text-left"><h2><span class="badge points">{{total_isk}}</span></h2></td>
          </tr>
          <tr>
            <td class="text-left"><h2>Total ISK Redeemed:</h2></td>
            <td class="text-left"><h2><span class="badge points">{{total_isk_redeemed}}</span></h2></td>
          </tr>
        </table>
    </div>
  </div>
</template>
