<template name="adminUsers">
  {{> navbar}}
  <div class="container-fluid">
    {{> adminHeader}}
    {{> adminNav}}
    <br>
    <div class="row">
      <div class="col-md-12">
        {{> adminUserDatatable}}
      </div>
    </div>
  </div>
</template>

<template name="adminUserDatatable">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-users"></i> User Administration</h3>
    </div>
    <table id="datatable" class="table table-striped">
      <thead>
        <tr>
        <th>User</th>
        <th>Date Joined</th>
        <th>Last Active</th>
        <th>Points Earned</th>
        <th>Points Redeemed</th>
        <th>Points Outstanding</th>
        <th>Role</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{user_name}}</td>
          <td>{{date_join}}</td>
          <td>{{date_lastActive}}</td>
          <td>{{points_earned</td>
          <td>{{points_redeemed}}</td>
          <td>{{points_outstanding}}</td>
          <td><a type="button" href="#" class="text-danger"><i class="fa fa-minus"></i></a> {{user_role}} <a type="button" href="#" class="text-success"><i class="fa fa-plus"></i></a></td>
      </tbody>
    </table>
  </div>
</template>
