
<template name="adminHeader">
  <div class="row">
    <div class="col-md-12" style="text-align:center;">
      <h2>Total value unredeemed points: <span class="badge points">{{unredeemed_isk}} ISK</span> | ISK in Dirtcamp Wallet: <span class="badge points">{{dirtcamp_isk}} ISK</span></h2>
      <br>
    </div>
  </div>
</template>

<template name="unredeemdPoints">
  {{unredeemed_isk}}
</template>

<template name="dirtcampWallet">
  {{dirtcamp_isk}}
</template>

<template name="adminNav">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="{{isActiveRoute regex='adminPending'}}"><a href="{{ pathFor 'adminPending' }}"><i class="fa fa-arrow-down"></i> Incoming</a></li>
        <li class="{{isActiveRoute regex='adminRewards'}}"><a href="{{ pathFor 'adminRewards' }}"><i class="fa fa-tag"></i> Rewards</a></li>
        <li class="{{isActiveRoute regex='adminUsers'}}"><a href="{{ pathFor 'adminUsers' }}"><i class="fa fa-users"></i> Users</a></li>
        <li class="{{isActiveRoute regex='adminFleets'}}"><a href="{{ pathFor 'adminFleets' }}"><i class="fa fa-history"></i> Fleet History</a></li>
        <li class="{{isActiveRoute regex='adminPayouts'}}"><a href="{{ pathFor 'adminPayouts' }}"><i class="fa fa-exchange"></i> Payout History</a></li>
        <li class="{{isActiveRoute regex='adminStatistics'}}"><a href="{{ pathFor 'adminStatistics' }}"><i class="fa fa-line-chart"></i> Statistics</a></li>
      </ul>
    </div>
  </div>
</template>
