<template name="adminRewards">
  {{> navbar}}
  <div class="container-fluid">
    {{> adminHeader}}
    {{> adminNav}}
    <br>
    <div class="row">
      <div class="col-md-4">
        {{> rewardGroup }}
      </div>
        <div class="col-md-3" style="padding-top:50px;padding-left:50px;">
        <button class="btn btn-fab btn-raised btn-success" type="button"><i class="fa fa-plus-square"></i></button>
      </div>
    </div>
  </div>
</template>

<template name="rewardGroup">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pencil"></i> <span contenteditable="true">Reward Type</span><span class=
            "pull-right"><a class="close fa fa-times" href="#" id="remove"></a></span></h3>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item Name</th>

                    <th>TypeID/Fitting</th>

                    <th>Cost</th>

                    <th>ISK Cost</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <a class="text-muted fa fa-trash fa-lg" href="#" id=
                        "remove"></a> Example
                    </td>

                    <td>0123456</td>

                    <td>9.50</td>

                    <td>11,000,000</td>
                </tr>

                <tr>
                    <td><input class="form-control" placeholder="Item Name"
                    type="text" required></td>

                    <td><input class="form-control" placeholder="TypeID"
                    type="text" required></td>

                    <td><button class="btn btn-primary btn-xs" type=
                    "submit"><i class="fa fa-plus-square"></i> Add
                    Item</button></td>

                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
