<template name="userFleetHistory">
  {{> navbar}}
  <div class="container-fluid">
    {{> points}}
    <div class="row">
      <div class="col-md-8">
        {{> userFleetDatatable }}
      </div>
      <div class="col-md-4">
        {{> userFleetViewer }}
    </div>
  </div>
</div>
</template>

<template name="userFleetDatatable">
  <div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-rocket"></i>
        Fleet History</h3>
    </div>
    <table id="datatable" class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>PAP Link</th>
          <th>Ping</th>
          <th>Additional Info</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each fleets}}
          <tr>
            <td>{{formatDate modified}}</td>
            <td>{{trimString fleet_name}}</td>
            <td>{{pap_link}}</td>
            <td>{{trimString ping}}</td>
            <td>{{trimString additional_information}}</td>
            <td><button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalViewOnly">View Details</button></td>
          </tr>
        {{/each}}
        <tr>
          <td>atest</td>
          <td>ztest</td>
          <td>atest</td>
          <td>ztest</td>
          <td>atest</td>
          <td><button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalViewOnly">View Details</button></td>
        </tr>
        <tr>
          <td>ztest</td>
          <td>atest</td>
          <td>ztest</td>
          <td>atest</td>
          <td>ztest</td>
          <td><button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalViewOnly">View Details</button></td>
        </tr>
        <tr>
          <td>ztest</td>
          <td>atest</td>
          <td>ztest</td>
          <td>atest</td>
          <td>search</td>
          <td><button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalViewOnly">View Details</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<template name="userFleetViewer">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-eye"></i> <span id="titleText"></span></h3>
    </div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="fleetName">Fleet Name</label>
          <input type="text" class="form-control" id="fleetName" name="fleetName" readonly>
        </div>
        <div class="form-group">
          <label for="papLink">PAP Link</label>
          <input type="text" class="form-control" id="papLink" name="papLink" readonly>
        </div>
        <div class="form-group">
          <label for="ping">Ping</label>
          <textarea rows="3" type="text" class="form-control" id="ping" name="ping" readonly></textarea>
        </div>
        <div class="form-group">
          <label for="additionalInformation">Additional Information</label>
          <textarea rows="3" type="text" class="form-control" id="additionalInformation" name="additionalInformation" readonly></textarea>
        </div>
      </form>
    </div>
  </div>
</template>
