<!-- home.html -->

<template name="userHome">
  {{> navbar}}
  <div class="container-fluid">
    {{> points}}
    <div class="row">
      <div class="col-md-4">
        {{> fleetSubmission}}
      </div>
      <div class="col-md-4">
        {{> rewards}}
        {{> homePayoutHistory}}
      </div>
      <div class="col-md-4">
        {{> homeFleetHistory}}
      </div>
    </div>
  </div>
</template>


<template name="points">
  <div class="row">
    <div class="col-md-12" style="text-align:center;">
      <h2 style="line-height: 20%;">Redeemable Reward Points: <span class="badge points">{{points}}</span></h2>
      <h4><small>All rewards are based on current market price and redeemed to Jita</small></h4>
      <hr>
    </div>
  </div>
</template>

<template name="fleetSubmission">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-rocket"></i>
        Fleet Submission <a href="#" data-toggle="tooltip" data-placement="right" title="Fill this section out with your fleet's info before submitting. Additional Info should include notable kill reports or objective accomplished. Remember that at least half of your fleet must have clicked the PAP in a target system in order to receive extra points."><i class="fa fa-question-circle"></i></a></h3>
    </div>
    <div class="panel-body">
      <form class="new-fleet">
        <div class="form-group">
          <label for="fleetname">Fleet Name</label>
          <input class="form-control" id="fleetName" name="fleetName" placeholder="Name your fleet (required)" type="text" required />
        </div>
        <div class="form-group">
            <label for="paplink">PAP Link</label>
            <input class="form-control" id="papLink" name="papLink" placeholder="Paste your PAP here (required)" type="url" required />
        </div>
        <div class="form-group">
            <label for="ping">Ping</label>
            <textarea class="form-control" id="ping" name="ping" placeholder="Paste ping or fleet purpose (required)" type="text" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="addl">Additional Information</label>
            <textarea class="form-control" id="additionalInformation" name="additionalInformation" placeholder="Enter any additional information (optional)" type="text" rows="3"></textarea>
        </div>
        <button class="btn btn-default" type="submit">Submit</button>
      </form>
    </div>
  </div>
</template>

<template name="homeFleetHistory">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-book"></i> Fleet History <a href="#" data-toggle="tooltip" data-placement="right" title="Review your fleets pending approval as well as recent history."><i class="fa fa-question-circle"></i></a></h3>
    </div>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Date</th>
          <th>Fleet Name</th>
          <th>Points</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
        <tbody>
          {{#each pendingFleets}}
            <tr class="warning">
              <td>{{formatDate modified}}</td>
              <td>{{trimString fleet_name}}</td>
              <td>
              {{#if eq points null}}
                Pending
              {{else}}
                {{points}}
              {{/if}}
              </td>
              <td>{{status}}</td>
              <td><button class="btn btn-danger btn-xs" type="submit">Undo</button></td>
            </tr>
          {{/each}}
          {{#each lastThreeFleets}}
            <tr class="{{#if eq status 'Approved'}}success{{else}}danger{{/if}}">
              <td>{{formatDate modified}}</td>
              <td>{{fleet_name}}</td>
              <td>
              {{#if eq points null}}
                Pending
              {{else}}
                {{points}}
              {{/if}}
              </td>
              <td>{{status}}</td>
              <td></td>
            </tr>
          {{/each}}
        </tbody>
    </table>
  </div>
</template>

<template name="homePayoutHistory">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-book"></i> Payout History <a href="#" data-toggle="tooltip" data-placement="right" title="Review your payout requests pending fulfillment as well as recent history."><i class="fa fa-question-circle"></i></a></h3>
    </div>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Date</th>
          <th>Item</th>
          <th>Type</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
        <tbody>
          {{#each pendingPayouts}}
            <tr class="warning">
              <td>{{formatDate modified}}</td>
              <td>{{reward_name}}</td>
              <td>{{reward_type}}</td>
              <td>{{status}}</td>
              <td><button class="btn btn-danger btn-xs" type="submit">Undo</button></td>
            </tr>
          {{/each}}
          {{#each lastThreePayouts}}
            <tr class="success">
              <td>{{formatDate modified}}</td>
              <td>{{reward_name}}</td>
              <td>{{reward_type}}</td>
              <td>{{status}}</td>
              <td></td>
            </tr>
          {{/each}}
        </tbody>
    </table>
  </div>
</template>

<template name="rewards">
  <div class="panel panel-success">
      <div class="panel-heading">
          <h3 class="panel-title"><i class=
          "fa fa-shopping-cart"></i> Rewards <a href="#" data-toggle="tooltip" data-placement="right" title="Select classes of items to spend your points on using the dropdown menus below. Allow up to three days for delivery by contract."><i class="fa fa-question-circle"></i></a></h3>
      </div>
      <div class="panel-body">
      <form role="form" class="form-inline">
        <div class="btn-group btn-group-justified">
              <select id="rewardType" class="form-control" style="width:50%;">
                  <option value="Doctrine Fittings" selected>Doctrine Fittings</option>
                  <option value="Hulls">Hulls</option>
                  <option value="Implant Sets">Implant Sets</option>
                  <option value="SKINs">SKINs</option>
                  <option value="ISK">ISK</option>
                  <option value="Ingame Titles">Ingame Titles</option>
              </select>
              <select id="rewardFilter" class="form-control" style="width:50%;">
                <option value="Show All" selected>Show All</option>
                <option value="Show Affordable">Show Affordable</option>
              </select>
            </div>
        </form>
        </div>
      <table class="table table-condensed table-striped">
          <thead>
              <tr>
                  <th>Item</th>
                  <th>Type</th>
                  <th>Price</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
            {{#each rewards}}
              <tr>
                <td>{{name}}</td>
                <td>{{type}}</td>
                <td>{{point_cost}}</td>
                <td><button class="btn btn-success btn-xs" name="{{_id}}" type="submit">Buy</button></td>
              </tr>
            {{/each}}
              <tr>
                  <td>Tengu - Slippery Pete</td>
                  <td>Fleet Fit</td>
                  <td>15</td>
                  <td><button class="btn btn-success btn-xs" type="submit">Buy</button></td>
              </tr>
              <tr>
                  <td>Ishtar - Armor</td>
                  <td>Fleet Fit</td>
                  <td>10</td>
                  <td><button class="btn btn-success btn-xs" type="submit">Buy</button></td>
              </tr>
              <tr>
                  <td>Ishtar - Shield</td>
                  <td>Fleet Fit</td>
                  <td>11</td>
                  <td><button class="btn btn-success btn-xs" type="submit">Buy</button></td>
              </tr>
              <tr>
                  <td>Megathron - Baltec</td>
                  <td>Fleet Fit</td>
                  <td>14</td>

                  <td><button class="btn btn-success btn-xs" type="submit">Buy</button></td>
              </tr>
              <tr>
                  <td>Apocalypse - Baltec</td>
                  <td>Fleet Fit</td>
                  <td>12</td>
                  <td><button class="btn btn-success btn-xs" type="submit">Buy</button></td>
              </tr>
          </tbody>
      </table>
  </div>
</template>
